SpotifyReleaseRadar.API/.vs
SpotifyReleaseRadar.API/SpotifyReleaseRadar.API/obj
SpotifyReleaseRadar.API/SpotifyReleaseRadar.API/appsettings.Development.json
SpotifyReleaseRadar.API/SpotifyReleaseRadar.API/bin
SpotifyReleaseRadar.API/SpotifyReleaseRadar.API/appsettings.json
